DB_URL=jdbc:postgresql://postgres:5432/smart_commerce
DB_USERNAME=postgres
DB_PASSWORD=1234

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

MAIL_USERNAME=your-real-email@gmail.com
MAIL_PASSWORD=your-real-app-password

JWT_SECRET=your-real-secret
JWT_EXPIRATION=86400000